<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, header, nav, layoutSidenav_content,footer )">
<head>
	<meta charset="UTF-8" />
	<title th:replace="${title}">Foresail Property Management System</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link href="../css/styles.css" rel="stylesheet"/>
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
	      crossorigin="anonymous"/>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	        crossorigin="anonymous"></script>
	<script src="../js/scripts.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
	        crossorigin="anonymous"></script>
	<!-- Other javascript, css source files -->
	<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>

</head>
<body class="sb-nav-fixed">

<header th:replace="${header} ?: ~{}">

</header>

<div id="layoutSidenav">
	<div th:replace="${nav} ?: ~{}">

	</div>

	<div th:replace="${layoutSidenav_content} ?: ~{}">
		<main>
		</main>
		<footer th:replace="${header} ?: ~{}">
		</footer>
	</div>
</div>




</body>
</html>