<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
      ~{::title},
      ~{:: #static-resources},
      ~{:: #header},
      ~{:: #nav},
      ~{:: #layoutSidenav_content},
      ~{:: #footer}
      )}">
    <head>
    <th:block id="static-resources">

        <title>Foresail PMS - Rooms</title>

        <script src="../js/rooms.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
        crossorigin="anonymous"></script>
        <script src="../assets/demo/datatables-demo.js"></script>


    </th:block>
</head>

<body class="sb-nav-fixed">
    <div id="header" th:replace="~{/fragments/app-fragments :: header}">
    </div>

    <div id="layoutSidenav">
        <div id="nav" th:replace="~{/fragments/app-fragments :: nav-default}">
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-4"></h2>

                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="main">Dashboard</a></li>
                        <li class="breadcrumb-item active">Rooms</li>
                    </ol>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger col-sm-5" role="alert" align="center">Something went wrong! Please
                            check the bookings for this room!
                        </div>
                    </div>
                    <div class="card mb-4" th:each="property : ${properties}">
                        <div class="card-header">
                            <i class="fas fa-table mr-2"></i><span th:text="${property.key.name}"></span>
                            <span>
                                <a th:href="@{/rooms/add (propertyId=${property.key.id})}">
                                    <button type="button" class="btn btn-primary btn-sm ml-1" id="add-property-btn"
                                            ><span
                                            class="fas fa-plus"></span><span class="ml-1">Add room</span></button>
                                </a></span>
                        </div>
                        <!--					<div class="card-body">-->
                        <div class="table-responsive">
                            <table class="table table-sm" id="rooms-datatable" width="100%" cellspacing="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Max guests</th>
                                        <th>Quantity of this room type</th>
                                        <th>Price</th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="room : ${property.value}">
                                        <td th:text="${room.id}"></td>
                                        <td th:text="${room.name}"></td>
                                        <td th:text="${room.maxGuests}"></td>
                                        <td th:text="${room.quantity}"></td>
                                        <td th:text="${room.price}"></td>
                                        <td align="right">

                                            <button type="button" class="btn btn-outline-info btn-sm ml-2" data-toggle="modal"
                                                    data-target="#modal-update" th:attr="data-roomid=${{room.id}},
                                                    data-roomname=${{room.name}}, data-maxguests=${{room.maxGuests}},
                                                    data-quantity=${{room.quantity}},data-price=${{room.price}},
                                                    data-propertyid=${{property.key.id}}"><span
                                                    class="fas fa-edit"></span><span class="ml-1">Edit</span></button> 
                                        </td>
                                        <td align="left">
                                            <a th:href="@{/rooms/{id}/delete(id=${room.id})}">
                                                <button type="button" class="btn btn-outline-danger btn-sm"><span
                                                        class="fas fa-trash-alt"></span><span class="ml-1">Delete</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>


                        <!--					</div>-->

                    </div>
                </div>
            </main>
            <div th:replace="~{fragments/room-modal :: modal-update}"></div>
            <footer class="py-4 bg-light mt-auto" th:replace="~{/fragments/app-fragments :: footer}">

            </footer>
        </div>

    </div>


</body>

</html>